.clothingSizes {
  text-align: left;
}

.clothingSizes p {
  margin: 0;
  font-weight: 700;
}

.clothingSizes ol {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.clothingSizes ol li {
  text-align: left;
}

.clothingSizes label {
  margin-left: 0.5rem;
}
