.filters {
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  margin-left: auto;
  padding: 1rem;
  text-align: left;
  box-sizing: border-box;

  #{&}Range {
	padding: 0 1rem;
	border: 1px solid red;
  }

	#{&}Price,
	#{&}Price > p {
		margin-bottom: 2rem;
		font-weight: 700;
	}
}
