@import 'reset';
@import-normalize;

:root {
  --color-primary: #845ec2;
  --color-primary-100: #ffffff;
  --color-primary-200: #b39cd0;
  --color-secondary: #00c9a7;
}

a {
  padding: 1rem;
  color: black;
}

p {
  margin-bottom: 1rem;
}

@mixin do-it-block() {
  @media screen and (max-width: 35rem) {
    &,
    & + & {
      display: block;
      width: 100%;
      margin: 1rem 0;
      @content;
    }
  }
}

button,
ol {
  @include do-it-block;
}

[class^='page'] {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
}

input[type='number'],
input[type='text'] {
  width: 5rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 1rem;

  @include do-it-block;
}

@import 'button';
@import 'shop-single';
@import 'vendor';
