.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #f9f9f9;
	text-align: left;
}

.header h1 {
	max-width: 45rem;
	width: 100%;
	margin: 0 auto;
}
