.item {
  position: relative;
  padding: 1rem;

  &__info {
    padding: 1rem 0;
  }

  h2 {
    margin: 0;
  }

  &__image {
    width: 100%;
    max-width: 320px;
    border-radius: 4px;
  }

  $self: &;

  &#{$self}Detail {
    display: flex;

	#{$self}__info {
		padding: 1rem;
	}

    #{$self}__image {
      max-width: 50vw;
    }
  }

  &__price {
    font-weight: 700;
  }

  &__size {
    padding: 0.1rem 0.8rem;
    color: #2f2f2f;
  }
}

.onSale {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  background-color: #ffe5ae;
  transform: rotate(-90deg) translateX(-46%) translateY(-63%);
}
