.item {
  position: relative;
  padding: 1rem;

}
  .item__info {
	padding: 0 1rem;
  }

  h2 {
    margin: 0;
  }

  .item__image {
    width: 100%;
	max-width: 320px;
	border-radius: 4px;
  }

  .item.item--detail {
    display: flex;

  }
    .item.item--detail .item__image {
      max-width: 50vw;
    }

  .item__price {
	font-weight: 700;
  }

  .item__size {
    padding: 0.1rem 0.8rem;
	color: #2f2f2f;
  }

.onSale {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 700;
	background-color: #ffe5ae;
	transform: rotate(-90deg) translateX(-46%) translateY(-63%)
}